<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Api_serverurl" value="http://localhost:53951/OOP_Order_Api/" />
    <add key="Api_posturl" value="api/Order/Order_list_qry" />
    <add key="api_receipt_url" value="api/Order/Post_Receipt" />
    <add key="LocalPath" value="D:\MMDLog_XML" />
    <add key="Api_user" value="admin" />
    <add key="Api_pass" value="g67B8eFC79xDnL5usTKFgA==" />
    <add key="sql_server" value="SAPTEST" />
    <add key="sql_username" value="iis" />
    <add key="sql_password" value="k8rERRHTdZkBjI3fBzBx5ZFHw6oqCedC7QM1CiubPvo=" />
    <add key="sql_winauth" value="N" />
    <add key="sql_database" value="ANTSPRODLIVE" />
    <add key="secretkey" value="thisismmd" />
    <add key="myservername" value="SAPTEST" />
    <add key="mydbname" value="ANTSPRODLIVE" />
    <add key="mydbversion" value="2017" />
    <add key="userid" value="exe" />
    <add key="secret" value="rajram" />
    <add key="mypwd" value="khxNfwxhB7QxKDTRIGISvg==" />
    <add key="sapuserid" value="AUTO" />
    <add key="sappassword" value="4J8a1TFy++vTGctrZpX7Ug==" />
    <add key="saplicense" value="SAPTEST:30000" />
    <add key="companycode" value="ANTSPRODLIVE" />
    <add key="branchVT" value="1" />
    <add key="branch" value="6" />
    <add key="branchTS" value="5" />
    <add key="seriesINV" value="1221" />
    <add key="seriesDEL" value="0" />
    <add key="seriesGRN" value="817" />
    <add key="seriesORDRVT" value="1221" />
    <add key="seriesORDR" value="1221" />
    <add key="seriesORDRTS" value="1221" />
    <add key="seriesORDRTS" value="1221" />
    <add key="buid" value="3" />
    <add key="bucode" value="3" />
    <add key="winauth" value="N" />
    <add key="autoexit" value="true" />
    <add key="baseAddress" value="http://192.168.76:9090/" />
    <!--<add key="baseAddress" value="http://192.168.0.57:84/OOP_Order_Api/"/>-->
    <add key="to_mail" value="sap.randr2@ramrajcotton.net,sap.randr@ramrajcotton.net,sap.mmd@ramrajcotton.net" />
    <add key="bpactive" value="false" />
    <add key="itemactive" value="false" />
    <add key="PostingMethod" value="Add" />
    <add key="intent" value="ooptosap_order_error" />
    <add key="hfbaseaddress" value="http://localhost:54281/" />
    <add key="hfbaseURL" value="mail/postmail/" />
    <add key="expensecode" value="1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="RRLiveEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.62;initial catalog=RRLive;persist security info=True;user id=IIS;password=55aigvsNH1XFs_B_Digvos;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>